.mainPage
{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

.flagsDiv
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    width: 100vw;
    padding: 6rem;
    box-sizing: border-box;
}