.mainPage
{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.flagsDiv
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    width: 100vw;
    padding: 2rem 6rem;
    box-sizing: border-box;
}

.searchDiv
{
    width: 100vw;
    height: 3rem;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar
{
    width: 30%;
    min-width: 20ch;
    max-width: 50ch;
    height: 2.5rem;
    font-size: 16px;
    border-radius: 2rem;
    border: 1px solid #222;
    padding: 0.25rem 1rem;
    box-sizing: border-box;
    margin-right: 2rem;
}

.filterBySelect
{
    height: 2.5rem;
    border-radius: 10px;
    border: 1px solid #222;
    font-size: 16px;
    box-sizing: border-box;
}