$primary: #fefefe;
$secondary: #efefef;
$danger: red;

$theme-colors: (
  "primary": $primary,
  "secondary" : $secondary,
  "danger": $danger
);

@import "~bootstrap/scss/bootstrap";

body
{
  background-color: $secondary;
}

@media (max-width: 978px) {
  .countryInfo {
    padding:1rem !important;
    margin:0 !important;
  }
}